@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

@layer theme {
  :root {
    --primary: #1976d2;
  }
}

@layer components {
  .bg-primary {
    background-color: var(--primary);
  }
  .text-primary {
    color: var(--primary);
  }
  .border-primary {
    border-color: var(--primary);
  }
  .hover:bg-primary:hover {
    background-color: var(--primary);
  }
}